{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<title>All Cart</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">My Order</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Order Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <thead>
                {% for item in cart_items %}
                <tr>
                    <td>{{item.product}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.date_ordered}}</td>
                    <td>&#8377; {{ item.quantity | mul:item.product.price}}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>